@model ProjectPrototype.Models.Player

@{
    ViewData["Title"] = "Create";
}

<h1>Create</h1>

<h4>Player</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="TeamId" class="control-label"></label>
                <input asp-for="TeamId" class="form-control" />
                <span asp-validation-for="TeamId" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="FirstName" class="control-label"></label>
                <input asp-for="FirstName" class="form-control" />
                <span asp-validation-for="FirstName" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="LastName" class="control-label"></label>
                <input asp-for="LastName" class="form-control" />
                <span asp-validation-for="LastName" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="DOB" class="control-label"></label>
                <input asp-for="DOB" class="form-control" />
                <span asp-validation-for="DOB" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Height" class="control-label"></label>
                <input asp-for="Height" class="form-control" />
                <span asp-validation-for="Height" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Weight" class="control-label"></label>
                <input asp-for="Weight" class="form-control" />
                <span asp-validation-for="Weight" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="NumAtBats" class="control-label"></label>
                <input asp-for="NumAtBats" class="form-control" />
                <span asp-validation-for="NumAtBats" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="NumHits" class="control-label"></label>
                <input asp-for="NumHits" class="form-control" />
                <span asp-validation-for="NumHits" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="NumHittingStrikeouts" class="control-label"></label>
                <input asp-for="NumHittingStrikeouts" class="form-control" />
                <span asp-validation-for="NumHittingStrikeouts" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="NumHomeruns" class="control-label"></label>
                <input asp-for="NumHomeruns" class="form-control" />
                <span asp-validation-for="NumHomeruns" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="NumRBI" class="control-label"></label>
                <input asp-for="NumRBI" class="form-control" />
                <span asp-validation-for="NumRBI" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="NumWalks" class="control-label"></label>
                <input asp-for="NumWalks" class="form-control" />
                <span asp-validation-for="NumWalks" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Position" class="control-label"></label>
                <input asp-for="Position" class="form-control" />
                <span asp-validation-for="Position" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="NumPlays" class="control-label"></label>
                <input asp-for="NumPlays" class="form-control" />
                <span asp-validation-for="NumPlays" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="NumErrors" class="control-label"></label>
                <input asp-for="NumErrors" class="form-control" />
                <span asp-validation-for="NumErrors" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="NumInningsPitched" class="control-label"></label>
                <input asp-for="NumInningsPitched" class="form-control" />
                <span asp-validation-for="NumInningsPitched" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="NumEarnedRunsAllowed" class="control-label"></label>
                <input asp-for="NumEarnedRunsAllowed" class="form-control" />
                <span asp-validation-for="NumEarnedRunsAllowed" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="NumWalksAllowed" class="control-label"></label>
                <input asp-for="NumWalksAllowed" class="form-control" />
                <span asp-validation-for="NumWalksAllowed" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="NumPitchingStrikeouts" class="control-label"></label>
                <input asp-for="NumPitchingStrikeouts" class="form-control" />
                <span asp-validation-for="NumPitchingStrikeouts" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="NumHomerunsAllowed" class="control-label"></label>
                <input asp-for="NumHomerunsAllowed" class="form-control" />
                <span asp-validation-for="NumHomerunsAllowed" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
