@model ProjectPrototype.Models.Team

@{
    ViewData["Title"] = "Delete Team";
}


<div class="container">
    <h4 class="table-title">Are you sure you want to delete this team?</h4>
    <div>
        <h3>@Model.TeamName</h3>
        <hr />
        <form asp-action="Delete">
            <input type="hidden" asp-for="TeamId" />
            <input type="submit" value="Delete" class="table-management-button" />
            <a class="table-management-button" asp-action="Index">Back To Teams</a>
        </form>
    </div>
</div>

