@model ProjectPrototype.Models.Match

@{
    ViewData["Title"] = "Edit Match";
}

<div class="container">
    <h1 class="table-title">Edit Match Details</h1>
    <hr />
    <div class="row">
        <div class="col-md-4">
            <form asp-action="Edit">
                <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                <input type="hidden" asp-for="MatchId" />
                <div class="form-group">
                    <label asp-for="TeamId" class="control-label">Team</label>
                    <select asp-for="TeamId" class="form-control" asp-items="ViewBag.TeamId"></select>
                    <span asp-validation-for="TeamId" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="GameId" class="control-label">Game</label>
                    <select asp-for="GameId" class="form-control" asp-items="ViewBag.GameId"></select>
                    <span asp-validation-for="GameId" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="Outcome" class="control-label"></label>
                    <select asp-for="Outcome" class="form-control"></select>
                    <span asp-validation-for="Outcome" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="Score" class="control-label"></label>
                    <input asp-for="Score" class="form-control" />
                    <span asp-validation-for="Score" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <input type="submit" value="Save" class="table-management-button" />
                    <a class="table-management-button" asp-action="Index">Back To Matches</a>
                </div>
            </form>
        </div>
    </div>
</div>


