@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p><a href="https://localhost:7200/Teams/Index">Teams</a>.</p>
    <p><a href="https://localhost:7200/Players/Index">Players</a>.</p>
    <p><a href="https://localhost:7200/Managers/Index">Managers</a>.</p>
    <p><a href="https://localhost:7200/Games/Index">Games</a>.</p>
    <p><a href="https://localhost:7200/Matches/Index">Matches</a>.</p>
</div>

