@{
    ViewData["Title"] = "Home Page";
}

<div class="home">
    <nav class="home-nav">
        <a href="#welcome-screen">Home</a>
        <a href="#about-screen">About</a>
        <a href="#stats-screen">League Stats</a>
        <a asp-area="Admin" asp-controller="Home" asp-action="Index">Admin</a>
    </nav>
    <div class="home-title" id="welcome-screen">
        <h1>Welcome to the College Station Youth Baseball League</h1>
    </div>
    <div class="about" id="about-screen">
        <div class="about-text">
            <h1>About Our League</h1>
            <p>Founded in 1991, the College Station Youth Baseball League has been providing outstanding recreational sport services to kids and families across the Brazos County. We strive to make sure every player, manager, and parent is known. With this mission, families can enjoy a full day at the ballpark, watching their kids play America's pasttime. Contact our offices, and your kids will be having a blast on the field in less than a week.</p>
        </div>
        <img src="~/images/bb-players-jumping.jpg" />
    </div>
    <div class="databases-home" id="stats-screen">
        <h1>League Stats and Data</h1>
        <div class="table-buttons">
            <a asp-area="Default" asp-controller="Players" asp-action="Index" class="view-table-link">Players</a>
            <a asp-area="Default" asp-controller="Teams" asp-action="Index" class="view-table-link">Teams</a>
            <a asp-area="Default" asp-controller="Managers" asp-action="Index" class="view-table-link">Managers</a>
            <a asp-area="Default" asp-controller="GameMatch" asp-action="Index" class="view-table-link">Games</a>
        </div>
    </div>
</div>
<footer>
    <p>Phone Number: (816)233-0879 | Email: bcslittleague@sportslife.com | Address: 2231 Texas Ave, Bryan, TX 77801</p>
</footer>

