html {
    position: relative;
    min-height: 100%;
    font-family: 'Roboto', sans-serif;
}

body {
}

h1 {
    font-weight: 400;
}

footer {
    text-align: center;
    font-size: 1.5rem;
    padding: 20px;
}

.home-title {
    width: 100%;
    height: 1000px;
    background-image: linear-gradient(black, black), url("../images/home-background-batter.jpg");
    background-blend-mode: saturation;
    background-repeat: no-repeat;
    background-size: 100% 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    color: white;
    font-size: 60px;
}

.home-title h1 {
    font-weight: 300;
    font-size: 5rem;
}

.databases-home {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    height: 600px;
    border-bottom: 2px solid #500000;
    border-top: 2px solid #500000;
}

.databases-home h1 {
    color: #500000;
    font-size: 5rem;
    margin: 0 auto;
}

.table-buttons {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 50px auto;
}

.view-table-link {
    padding: 10px 10px;
    border-radius: 4px;
    border: 2px solid #500000;
    font-size: 2.5rem;
    width: 200px;
    text-align: center;
    height: 200px;
    text-decoration: none;
    font-weight: 400;
    background-color: white;
    text-decoration: none;
    color: #500000;
    margin: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.view-table-link:hover {
    color: white;
    transition: 0.2s;
    background-color: #500000;
    text-decoration: none;
}

.about {
    background-color: #500000;
    color: white;
    height: 700px;
    border-bottom: 2px solid #500000;
    border-top: 2px solid #500000;
    display: flex;
    justify-content: center;
    align-items: center;
}

.about-text {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    flex-direction: column;
}

.about-text h1 {
    font-size: 5rem;
    margin: 40px auto;
    width: 675px;
}

.about-text p {
    font-size: 1.25rem;
    width: 675px;
}

.about img {
    width: 700px;
    height: auto;
    margin-left: 300px;
    border: 2px solid white;
    border-radius: 4px;
}

.table-management-button {
    padding: 5px;
    border-radius: 4px;
    border: 1px solid #500000;
    font-size: 1rem;
    width: fit-content;
    text-align: center;
    text-decoration: none;
    font-weight: 400;
    background-color: #500000;
    color: white;
}

.table-management-button:hover {
    color: #500000;
    transition: 0.2s;
    background-color: white;
    text-decoration: none;
}

.table {
    border-collapse: separate;
    border-spacing: 0 0;
    border-radius: 4px;
    box-shadow: 0 0 0 1px #ededed;
    font-weight: 400;
    display: block;
    max-height: 500px;
    overflow-y: scroll;
    margin-top: 30px;
    width: 100%;
}

.table tr:nth-child(even) {
    background-color: #ededed;
}

.table th {
    background-color: #500000;
    color: white;
    font-weight: 400;
}

.table th, .table td {
    width: fit-content;
    padding: 10px;
    text-align: left;
}

/* width */
::-webkit-scrollbar {
  width: 15px;
}

/* Track */
::-webkit-scrollbar-track {
  background: #f1f1f1;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #888;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #555;
}


.table-title {
    margin: 30px 0;
}

.jace-container {
    width: 96%;
    margin-right: auto;
    margin-left: auto;
}